.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color:white;
}
.dialogsItems .active{
    color :gold;
}
.messeges {
    padding: 10px;
}

.messeges.message {
    color: white;
}
img{
    width: 50px;
    height: 50px;
}
button{
    width: 50px;
    height: 50px;
    padding-bottom: 20px;
}